.content {
    display: grid;
    grid-template-areas: 
        "header header header header header header header header header header"
        ". main main main main main main main main ." 
        "footer footer footer footer footer footer footer footer footer footer";
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 25rem auto 7rem;
}

    .content > div {
        font-size: 1.2rem;
    }

.headerGrid {
    grid-area: header;
    display: inline-grid;
}

.mainGrid {
    grid-area: main;
    background-color: white;
    margin-top: -10rem;
    margin-bottom: 2.5rem;
    padding: 1.5rem 4rem 2rem 4rem;
    box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.4);
    display: grid;
}

.footerGrid {
    grid-area: footer;
    display: inline-grid;

}

.gradientFill {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(2,0,36,0.7) 35%, rgba(255,255,255,0) 100%);
    max-height: 30vh;
    position: relative;
    display: inline-grid; 
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-columns: repeat(10, 10%);
}

.header {
    background-image: url("../media/headerImage.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25rem;
    display: inline-grid;
    grid-template-columns: repeat(4, 25%)
}

.logoLink {
    margin-top: 20%;
    grid-column-start: 2;
}

.logo {
    margin: 1%;
    height: 20vh;
}

.nav {
    text-align: right;
    grid-column-start: 4;
    grid-column-end: -2;
    margin-top: 12vh;
}

    .nav > a {
        padding-left: 2%;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;
        color: #ffffff;
        margin: 2%;
    }

.btnSignUp {
    background-color: #2e3486;
    padding: 1.2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 8px;
}

.footer {
    background-color: #5b4774;
    height: 7rem;
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-template-columns: repeat(10, 10%);
    margin-bottom: 0;
    overflow:hidden;
    align-items: center;

}

.logoLinkFooter {
    grid-column-start: 2;
}

.logoFooter {
    height: 5rem;
}

.footerNav {
    text-align: right;
    grid-column-start: 4;
    grid-column-end: -2;
}

    .footerNav > a {
        padding-left: 2%;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        color: #ffffff;
        margin: 2%;
    }
    
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    margin: 0;
}

h1 {
    text-align: center;
    color: rgb(2,0,36);
    font-weight: bolder;
    font-size: 2.8rem;
}

h2 {
    text-align: center;
    color: rgb(84,64,110);
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3%;
}

.topRow {
    display: inline-grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 0.5rem;
}

.bottomRow {
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 0.5rem;
}

.aboutColumns {
    display: inline-grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}
/*nav {
    text-align: right;
}

    nav a {
        padding-left: 3%;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.3rem;
        color: #ffffff;
    }*/

/*.btnSignUp {
    background-color: #2e3486;
    padding: 1.2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 8px;
}

.header {
    background-image: url("../media/headerimage3.jpg");
    height: 40vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 50% 50%;
}

.headerContent {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-row-start: 1;
    align-items: center;
}

.gradientFill {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(2,0,36,0.7) 35%, rgba(255,255,255,0) 100%);
    grid-row-start: 1;
    grid-row-end: 2;
}

h1 {
    text-align: center;
    color: rgb(2,0,36);
    font-weight: bolder;
    font-size: 2.8rem;
    margin-top: 3%;
    grid-row-start: 2;
}

h2 {
    text-align: center;
    color: rgb(84,64,110);
    font-weight: bold;
    font-size: 2rem;
}

.mainBlock {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: repeat(2, 50%);
    min-height: 80vh;
}

.heroSection {
    display: grid;
    grid-column-start: 2;
    background-color: #ffffff;
    position: absolute;
    margin-top: -30%;
    grid-auto-rows: auto;
}

.heroWrap {
    column-gap: 2%;
    grid-row-gap: 2%;
    border-style: solid 1px #000000;
}

.footer {
    background-color: #5b4774;
    grid-template-columns: 50% 50%;
    margin: 0;
}

.footerContent {
    clear: both;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-column-start: 1;
    align-items: center;
    margin: 0;
    grid-template-rows: 100%;
    background-color: #5b4774;
    grid-template-columns: 50% 50%;
}

.footerNav {
    clear: both;
    font-size: 1rem;
    text-align: right;
    padding-left: 3%;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 4%;
}

#footerNav {
    margin-top: 4%;
    display: inline;
    float: right;
    grid-column-start: 2;
    grid-column-end:*/ 

